

html, :host {
    line-height: 1.5;
    text-size-adjust: 100%;
    tab-size: 4;
    font-family: "Space Grotesk", sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}